/* ====================================
 * About Page
 * ==================================== */

 .about-page {
   .about-container {
     margin-top: $base-spacing * 6;
     margin-left: -2px;
     position: relative;
    p {
      margin-bottom: $base-spacing * 2;
    }
     a.toggle-link:focus {
       color: black;
     }
     a.toggle-link.active {
       color: $color-red;
     }
     p, ol, ul {
       @extend %xl-font;
       a {
        //  border-bottom: 2px solid $color-red;
        text-decoration: underline;
        &:hover {
          color: $color-red;
        }
       }
     }
     .toggle-content{
      display: block;
      margin: $base-spacing*2 0;
       p, ul, ol, a {

         @extend %medium-font;
       }

       .why-i-code {
        padding-left: $base-spacing * 2;

       	counter-reset: my-counter;
       }
       .why-i-code div {
         position: relative;
         padding-bottom: $base-spacing / 2;
       }
       .why-i-code div:before {
         @extend %large-font;
        color: $color-gray;
        position: absolute;
        left: -$base-spacing * 2;
        top: 0px;
       	content: counter(my-counter);
       	counter-increment: my-counter;
       }
     }
     cite {
       @extend %large-font;
       color: $color-gray;
     }
     img.lauren-maggie {
       max-width: 350px;
     }
  }

 }
