/* ====================================
 * Blog
 * ==================================== */

.blog-page {

  background: black;
  .image-2, .image-3 {
    display:block;
    @include breakpoint(xs) {
      display:none;
    }
    @include breakpoint(sm) {
      display:none;
    }
  }
  .module {
    padding: 15px;
    position: relative;
    height: 100%;
  }
  .padding {
    .image {
      height: 80%;
      width: 100%;
      right: 0;
      position: absolute;
      top: 10%;
      background-size: cover;
      background-position: center;
    }
  }
  .padding-double {
    .image {
      height: 60%;
      width: 100%;
      right: 0;
      position: absolute;
      top: 20%;
      background-size: cover;
      background-position: center;
    }
  }
  .padding-tripple {
    .image {
      height: 40%;
      width: 100%;
      right: 0;
      position: absolute;
      top: 30%;
      background-size: cover;
      background-position: center;
    }
  }

  .cover {
    margin-left:-15px;
    margin-right:-15px;
    .image {
      height: 100%;
      width: 100%;
      right: 0;
      position: absolute;
      top: 0;
      background-size: cover;
      background-position: center;
    }
  }

  #follow {
    pointer-events: none;
    position: fixed;
    top:50%;
    left: $base-spacing;
    height: 50px;
    width: 80px;
    opacity: 0;
    display: none;
    h2 {
      color: white;
      margin: 0;
    }
  }
}
