/* ====================================
 * Navigation
 * ==================================== */

p.menu-toggle {
  position: fixed;
  left: 75%;
  top: 47px;
  @extend %xl-font;
  color: black;
  z-index: 99;
  display: none;
  margin: 0;
  cursor: pointer;
  @include breakpoint(xs) {
    display: block;
  }
}
nav {
  width: 50px;
  position: fixed;
  right: 0;
  z-index: 9;
  height: 400px;
  bottom: 50%;
  margin-bottom: -200px;
  text-align: center;
  transition: all 400ms;
  @include breakpoint(xs) {
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    bottom:0;
    top: 0;
  }
   ul {
     margin: 0;
     padding: 0;
     transform: rotate(-90deg);
     position: absolute;
     width: 476px;
     bottom: 50%;
     right: -200px;
     margin-top: -300px;
     @include breakpoint(xs) {
      transform: rotate(0);
      width :100%;
      height: 100%;
      bottom: 0;
      top: 0;
      right: 0;
      margin-top: 100px;
     }
     @include breakpoint(lg) {
      width: 530px;
      margin-top: -260px;
      right: -215px;
     }
     li {
       margin: 0 22px 0 22px;
       list-style: none;
       float: left;
       @include breakpoint(xs) {
        margin: 0;
        width: 100%;
       }
       a {
         display: inline-block;
         position: relative;
         color: $color-black;
         opacity: 1;
         @extend %large-font;
         @include breakpoint(xs) {
          display: block;
          width :100%;
          text-align: left;
          padding-left: 8.33333333%;
          margin-left: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
          @include font-size(24);
          color: $color-black!important;
          opacity: 0;
          top: 50px;
        }
       }
     }
   }
 }
 .black-bg {
   nav ul li a, .menu-toggle {
     color: white;
     &:hover {
       color: $color-red;
     }
   }
 }
 .photography-page, .photo-album-page, {
   a.nav-photography {
     color: white;
     &:after {
       content: '•';
       position: absolute;
       bottom: 5px;
       width: 6px;
       height: 6px;
       left: 50%;
       margin-left: -3px;
       color: white;
     }
     @include breakpoint(xs) {
       &:after {
         content: '•';
         position: absolute;
         left: 5px;
         width: 6px;
         height: 6px;
         bottom: 50px;
         margin-bottom: -3px;
         margin-left: 0;
         color: white;
       }
     }
   }
 }

 .about-page {
   a.nav-about {
     &:after {
       content: '•';
       position: absolute;
       bottom: 5px;
       width: 6px;
       height: 6px;
       left: 50%;
       margin-left: -3px;
     }
     @include breakpoint(xs) {
       &:after {
         content: '•';
         position: absolute;
         left: 5px;
         width: 6px;
         height: 6px;
         bottom: 50px;
         margin-bottom: -3px;
         margin-left: 0;
       }
     }
   }
 }

 .recent-work-page, .case-study-page {
   a.nav-recent-work {
     &:after {
       content: '•';
       position: absolute;
       bottom: 5px;
       width: 6px;
       height: 6px;
       left: 50%;
       margin-left: -3px;
     }
     @include breakpoint(xs) {
       &:after {
         content: '•';
         position: absolute;
         left: 5px;
         width: 6px;
         height: 6px;
         bottom: 50px;
         margin-bottom: -3px;
         margin-left: 0;
       }
     }
   }
 }
