/* ====================================
 * Navigation
 * ==================================== */


nav {
  width: 50px;
  position: fixed;
  right: 0;
  z-index: 9999;
  height: 380px;
  bottom: 50%;
  margin-bottom: -190px;
  //transform: translateY(-50%);
  text-align: center;
  transition: all 400ms;
  // @media (max-height: 400px){
  //   height:360px;
  //   top:0;
  // }
  // @include breakpoint(sm) {
  //   height:360px;
  //   top: 50%;
  //   margin-top: -180px;
  // }
  // @include breakpoint(md) {
  //   height:360px;
  //   top: 50%;
  //   margin-top: -180px;
  // }
  // @include breakpoint(lg) {
  //   height:360px;
  //   top: 50%;
  //   margin-top: -180px;
  // }
   ul {
     margin: 0;
     padding: 0;
     transform: rotate(-90deg);
     position: absolute;
     width: 300px;
     bottom: 50%;
     right: -125px;
     margin-top: -200px;
     li {
       margin: 0 22px 0 22px;
       list-style: none;
       float: left;
       a {
         display: inline-block;
         position: relative;
         color: $color-black;
       }
     }
   }
 }
 .black-bg {
   nav ul li a {
     color: white;
     &:hover {
       color: $color-red;
     }
   }
 }
 .blog-page {
   a.nav-blog {
     &:after {
       content: '•';
       position: absolute;
       bottom: 0px;
       width: 6px;
       height: 6px;
       left: 50%;
       margin-left: -3px;

     }
   }
 }

 .about-page {
   a.nav-about {
     &:after {
       content: '•';
       position: absolute;
       bottom: 0px;
       width: 6px;
       height: 6px;
       left: 50%;
       margin-left: -3px;

     }
   }
 }

 .recent-work-page, .case-study-page {
   a.nav-recent-work {
     &:after {
       content: '•';
       position: absolute;
       bottom: 0px;
       width: 6px;
       height: 6px;
       left: 50%;
       margin-left: -3px;

     }
   }
 }
